* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container_header {
    display: flex;
    justify-content: space-between;
    width: 1250px;
}

.container {
    display: flex;
    justify-content:  space-between;
    width: 1250px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a {
    background-color: #39aae1;
    color: #fff;
}

nav a:hover {
    background-color: #ccc;
}

nav .active a:hover {
    background-color: #318ebd;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    background-image:url("Imagens/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #fff;
    font-size: 60px;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
    max-width: 300px;
}

.banner_headline h2 {
    color: #fff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 20px;
}

.banner_options {
    height: 250px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 25px;
}

.banner_desc {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    margin-top: 20px;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.banner1 a:hover {
    background-color: #3092d3;
}

.banner2 a:hover {
    background-color: #0665a5;
}

.banner_desc_infor {
    display: flex;
    justify-content: space-between;
   
}

.banner_desc_day {
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 20px;
   
}

.banner_desc_hours {
   margin-top: 20px;
   font-size: 17px;
   
}

.banner_desc_bar {
    flex-direction: column;
    border-top: 1px solid #3757c8;
    margin-top: 10px;
}

.geral {
    display: flex;
    justify-content: center;
}

.geral section {
    flex: 2;
}

.geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.widget_title_1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top:8px;
}

.widget_body_depart,
.widget_body_cont {
    display: flex;
    flex-wrap: wrap;
}

.widget_body_depart article {
    margin-right: 20px;
    margin-bottom: 20px;
}

.widget_body_departaments {
    width: 183px;
    height: 183px;
    background-color: #36a9e1;
}

.widget_body_bar {
    width: 375px;
    height: 1px;
    background-color: #96939371;
    margin-top: 10px;
    margin-bottom: 10px;
}

.widget_body_text_1 {
    display: flex;
    align-items: center;
}

.widget_body_img {
    height: 25px;
}

.widget_body_text_1_1 {
    display: flex;
    margin-left: 10px;
}

.widget_body_text_1_2 {
    text-decoration: underline;
}

.widget_body_text_1 strong,
.widget_body_text_1 a {
    margin-left: 3px;
}

.widget_body_text_1_2 {
    margin-left: 4px;
    margin-right: 4px;
}

.widget_body_contact {
    margin-top: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.widget_body article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #fff;
    font-size: 12,9px;
    padding: 10px;
    margin-right: 3px;
}

article .news_comments {
    background-color: #39aae1;
    text-align: center;
    color: #fff;
    font-size: 12,9px;
    padding: 10px;
    width: 18px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: #000;
}

article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

footer {
    background-color:#1e1e1e;
    display:flex;
    justify-content: center;
}

.footer_menu {
    display:flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
}

.fm_1{
    background-color:#39aae1;
}

.fm_2{
    background-color:#0079c7;
}

.fm_3{
    background-color:#2b4c99;
}

.title_fm{
    font-size: 20px;
    margin-left: 10px;
}

.desc_fm {
    font-size:12px;
    margin-top: 15px;
    margin-left: 10px;
    color:#f0f0f0;
    word-spacing: 2px;
}

.footer_menu a {
    display:block;
    text-decoration: none;
    padding:20px;
    color: #FFFFFF;
}

.footer_area {
    display:flex;
}

.footer_areaitem {
    flex:1;
    color:#FFFFFF;
}

.flexcolumn {
    flex-direction: column;
}

footer .widget_title_text {
    color: #FFFFFF;
}

.widget_body_1 {
    display: flex;
    flex-direction: column;
}

.widget_body2 {
    display: flex;
}

.arrow {
    height: 45px;
    margin-right: 9px;
}

.footer_desc2 {
    font-size:12px;
    color:#C0C0C0;
    word-spacing: 1px;
    line-height: 17px;
}

.footer_desc2 a {
    text-decoration: none;
    color: #C0C0C0;
}

.box_footer_desc2 {
    display: flex;
    flex-direction: column;
    width: 260px;
}

.desc_gray {
    color:#808080;
}

.footer_desc_time2 {
    font-size: 11px;
    margin-top:2px;
    margin-bottom: 18px;
    color:#42b3e5;
}

.footer_desc {
    font-size:12px;
    width: 270px;
    color:#808080;
    word-spacing: 1px;
    line-height: 17px;
}
address {
    font-style: normal;
    font-size: 12px;
    margin-top: 17px;
    color:#808080;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
}
.footer_icons {
    display: flex;
    margin-top: 25px;
}
.icon_footer {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.icon_footer img {
    width: 100%;
}
.icon_footer {
    display: inline-block;
    background-color: #404040;
    padding: 5px;
}
.address_contact {
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
}
.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color:#5c5c5c;
    font-size:12px;
    margin-top:15px;

}
white {
    color:#C0C0C0;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px ;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #0079c7;
}

@media (max-width: 600px) {

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff
    }

    .banner_headline {
        padding: 20px;
    }
    
    .banner_headline h1 {
        font-size: 55px;
        margin-top: 60px;
    }

    .banner_headline h2 {
        font-size: 17px;
        margin-bottom: 60px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .geral {
        margin-top: 315px;
        margin-left: 20px;
    }

    .container {
        flex-direction: column;
    }

    .widget_body_departaments {
        width: 172px;
        height: 172px;
    }

    .widget_body_bar {
        width: 560px;
    }

    .footer_menu {
        height: auto;
        flex-direction: column;
    }

    .title_fm {
        margin-left: 0;
    }

    .desc_fm {
        font-size: 15px;
        margin-left: 0;
    }

    .footer_area {
        flex-direction: column;
        margin-left: 20px;
    }

    .footer_copy {
        margin: 15px;
    }

}